{% extends "base.html.twig" %}
{% block title %}  {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{produit.image}}" alt="" class="">
        </div> 

        <div class="col my-auto">
            <h5 class="">{{produit.nom}} </h5>
            <p class="card-text">{{produit.descriptionLongue}}</p>
            <form action="" method="post">
                <div class="row my-3">
                    <div class="col-3">
                        <input type="number" name="quantite" id="quantity" class="form-control" value="1">
                        <input type="hidden" name="produit" value="{{produit.id}}">
                    </div>
                    <div class="col">
                        <input type="submit" value="Ajout au panier" name="ajout" class="btn btn-success" >
                    </div>
                </div>
            </form>
        </div> 
    </div>  
</div>
    
        
        
            
                
        
        
        
 

{% endblock %}